header(class="container p-0 pt-4 pb-4")
  ul.nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    li.nav-item
      a(href="/productos"  class="nav-link") Lista de Productos
    li.nav-item
      a(href="/crearProducto" class="nav-link") Crear Producto 